<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>create article</title>
        <link rel="stylesheet" href="../editor/css/editormd.css" />

        <style>
            #btn-blog-save{
                width: 100px;
                height: 40px;
                margin-left: 100px;
            }
        </style>
    </head>
    <body>
        <form action="/article/add" method="post" id="formBlog">
            <input value="${articleId}"  type="hidden" name="articleId"/>
            <textarea id="blog_md" name="mdContent" value="" style="display: none;"></textarea>
            <div class="editormd" id="test-editormd">
		  <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc">${mdContent}</textarea>
		  <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
		  <textarea class="editormd-html-textarea" name="content"></textarea>
		</div>
            <div>
                <button  value="提交" id="btn-blog-save">提 交</button>
            </div>
        </form>

        <script src="../editor/jquery.min.js"></script>
        <script src="../editor/editormd.min.js"></script>
        <script type="text/javascript">
			var testEditor;

            $(function() {
                md_edit = editormd("test-editormd", {
                    width   : "90%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "../editor/lib/",
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/uploadfile",
                    saveHTMLToTextarea : true,
                });
                //editor.md期望得到一个json格式的上传后的返回值，格式是这样的：
                /*
                {
                    success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                    message : "提示的信息，上传成功或上传失败及错误信息等。",
                    url     : "图片地址"        // 上传成功时才返回
                }
*/
            });


                $('#btn-blog-save').click(function() {

                    $("#blog_md").val(md_edit.getMarkdown());//md格式内容，使用md的js获取
                    // $("#blog_html").val(md_edit.getHTML());
                    // $("#formBlog").ajaxSubmit({
                    //     success : function(da) {
                    //         $.scojs_message('发布成功', $.scojs_message.TYPE_OK);
                    //
                    //         location='/index';
                    //         //todo 重定向
                    //     }
                    // });

                    $.ajax({
                        type: 'post',
                        url: '/article/add',
                        data:$('#formBlog').serialize(),
                        success: function(result){
                            if(result == 'true'){
                                alert("保存成功");
                                window.location.href = "/index";
                            }else{
                                alert("保存失败");
                            }

                        }
                    });


                });

        </script>
    </body>
</html>