@var headCss={
.new_button{
width:100%;
height:82px;
}


.ui{
padding:0px;
}

.table_div{
width:100%;
margin-top: 40px;
}




#HBox{
display: none;
}
#HCloseBtn {
width: 20px;
height: 20px;
line-height: 20px;
display: inline-block;
cursor: pointer;
color: #fff;
text-align: center;
position: absolute;
top: 8px;
right: 8px;
border-radius: 3px;
}

.list li strong {
width: 20%;
float: left;
display: inline-block;
margin-right: 10px;
text-align: right;
}
.list li {
width: 80%;
margin: 10px auto auto;
overflow: hidden;
}
.list {
padding: 25px 0;
}
strong{
strong
}
#HBox1{
display: none;
}
#HBox2{
display: none;
}
.repeat{
color:red;


}
#repeat_div{
margin-top: 50px;
margin-left: 48px;
}
#commit_div{
font-size:20px;
padding-top: 40px;
padding-left: 143px;
}
.second{
display:none;
}
@};

@var bodyPart={

<!--<div class="new_button">-->
    <!---->
    <!--<button  type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ 新建分类</button>-->

<!--</div>-->

<form class="form-inline" role="form" action="/cata/index">
    <div class="form-group">
        <label>分类名</label>
        <input type="text" value="${cataName}" class="form-control" placeholder="分类名" name="cataName"/>
    </div>
    <div class="form-group">
        <label for="name">是否显示</label>
        <input type="hidden" value="${enable}" id="enable">
        <select class="form-control" name="enable">
            <option value="" ${(enable !="1" && enable !="0")?"selected='selected'":""} >全部</option>
            <option value="1" ${enable =="1"?"selected='selected'":""}>是</option>
            <option value="0" ${enable =="0"?"selected='selected'":""}>否</option>
        </select>

    </div>
    <button type="submit" class="btn btn-default" style="margin-left: 70px;">查   找</button>
    <button  type="button" style="float: right;"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ 新建分类</button>



</form>

<div class="table_div">
    <table class="table table-hover">
        <tr>
        <th>分类id</th>
        <th>分类名称</th>
        <th>排序</th>
        <th>是否显示</th>
        <th>操作</th>
        </tr>

        @for(cata in pageInfo.list){
        <tr>
            <td>${cata.cataId}</td>
            <td>${cata.cataName}</td>
            <td>${cata.sequence}</td>
            <td>
                ${cata.enable == "1"?"是":"否"}
            </td>
            <td>
                <a href="#" class="updateButton" onclick="getUpdateData(${cata.cataId})">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        @}


    </table>

    <!-- 分页导航 -->
    <nav >
        <ul class="pagination" style=" margin-left: 250px;margin-top: 40px;">
            <li><a href="/cata/index?pageNum=1&enable=${enable}&cataName=${cataName}">首页</a></li>
            @if(pageInfo.pageNum<=1){
            <li><a href="#">上一页</a></li>
            @}
            @if(pageInfo.pageNum>1){
            <li><a href="/cata/index?pageNum=${pageNum -1}&enable=${enable}&cataName=${cataName}">上一页</a></li>
            @}


            @for(item in pageInfo.navigatepageNums){
               @if(item == pageInfo.pageNum){
                 <li class="active"><a href="javascript:void(0)">${item}</a></li>
               @}
                @if(item != pageInfo.pageNum){
                <li ><a href="/cata/index?pageNum=${item}&enable=${enable}&cataName=${cataName}">${item}</a></li>
                @}
            @}

            @if(pageInfo.pageNum< pageInfo.pages){
            <li><a href="/cata/index?pageNum=${pageNum +1}&enable=${enable}&cataName=${cataName}">下一页</a></li>
            @}

            @if(pageInfo.pageNum == pageInfo.pages){
            <li><a href="javascript:void(0)">下一页</a></li>
            @}

            @if(pageInfo.pageNum<= pageInfo.pages){
            <li><a href="/cata/index?pageNum=${pageInfo.pages}&enable=${enable}&cataName=${cataName}">末页</a></li>
            @}
        </ul>

    </nav>


</div>




@};


@var alertPart={

<!--新建/编辑分类-->
<div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>新建/编辑分类</h4>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="cataform">
                    <input name="cataId" type="hidden" id="cataId"/>

                    <div class="form-group">
                        <label class="control-label col-xs-4">分级名称</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="cataName" type="text" id="cataName"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">排序</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="sequence" id="sequence"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">是否显示</label>
                        <div class="col-xs-8">
                            <!--<input class="form-control" type="text"/>-->
                            <div class="radio">
                                <label>
                                    <input type="radio" name="enable" value="1" id="yes"> 是
                                </label>

                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="enable" value="0" checked id="no"> 否
                                </label>

                            </div>
                        </div>
                    </div>



                </form>


            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                <button id="cata-save" class="btn btn-primary" type="button">保存</button>
            </div>
        </div>
    </div>

</div>

<div class="alert alert-danger alert-dismissable hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>这里是错误信息</strong>
</div>


@};
@var cssImport={
<link rel="stylesheet" href="../css/animate.min.css">
<link rel='stylesheet' href='../bootstrap/css/bootstrap.min.css' />
@};

@var javaScript={
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/jquery.hDialog.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    function getUpdateData(cataId) {
        // 查询分类数据
        $.ajax({
            type: 'get',
            url: '/cata/getCataById',
            data:{cataId:cataId},
            success: function(result){
                $("#cataName").val(result.data.cataName);
                $("#sequence").val(result.data.sequence);
                $("#cataId").val(result.data.cataId);
                if(result.data.enable == "0"){
                    $("#no").attr("checked","checked");
                    $("#yes").removeAttr("checked");
                }else {
                    $("#yes").attr("checked","checked");
                    $("#no").removeAttr("checked");
                }

            }
        });

        $('#myModal').modal({
            backdrop:"static"
        });


        
    }


    $('#cata-save').click(function() {

        $.ajax({
            type: 'post',
            url: '/cata/saveOrUpdateCata',
            data:$('#cataform').serialize(),
            success: function(result){
                if(result.code == 'success'){
                    // alert("保存成功");
                    $('.alert-danger').removeClass('hide').addClass('in');
                    window.location.href = "/cata/index";
                }else{
                    alert("保存失败");
                }

            }
        });


    });



    $(function(){


        //新建编辑弹框
        //$('#new').hDialog({'box':'#HBox',title:'新建/编辑标签',height:350,width:350});
        //$('#new').hDialog({'box':'#HBox2',title:'提示',height:350,width:350});
        $('#new').hDialog({'box':'#HBox3',title:'提示',height:350,width:350});

        $(".showOrHideSecondButton").click(function(){
            console.log($(this).html());
            var flag;
            if($(this).text() == '查看二级分类▲ '){
                $(this).text("查看二级分类▼ ");
                flag = 0;
            }else{
                $(this).text("查看二级分类▲ ");
                flag = 1;
            }
            var id=$(this).parent().parent().attr("id");
            var tr = $(this);
            console.log(tr);
            tr.parent().parent().siblings().each(function(){
                console.log($(this).attr("id"));
                if($(this).attr("id").indexOf(id) ==0){
                    if( flag == 1){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }


                }

            })
        });



    });

    function close()
    {
        alert("niho");
    }

    $('body').on('click' , '.commit' , function() {
        $('#HCloseBtn').click();
    })


</script>
@};



@include("layout.html",{"headCss":headCss,"bodyPart":bodyPart,"cssImport":cssImport,"alertPart":alertPart,"javaScript":javaScript,title:"分类首页","tagName":1}){}