@var headCss={
    .new_button{
      width:100%;
      height:82px;
    }

    #new{
      float: right;
      width:184px;
      height:50px;
      background-color: #E4E4E4;
    }

    .ui{
      padding:0px;
    }

    .table_div{
      width:100%;
      margin-top: 40px;
    }

@};

@var bodyPart={

<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

<form class="form-inline" role="form" action="/index">
    <div class="form-group">
        <label>文章名称</label>
        <input type="text" class="form-control" placeholder="文章名" value="${article.articleName}" name="articleName"/>
    </div>
    <div class="form-group">
        <label>分类名称</label>
        <input type="text" class="form-control" placeholder="分类名" value="${article.cataName}" name="cataName"/>
    </div>
    <div class="form-group">
        <label>标签名称</label>
        <input type="text" class="form-control" placeholder="标签名" value="${article.tagName}" name="tagName"/>
    </div>
    <div class="form-group">
        <label for="name">是否显示</label>
        <input type="hidden" value="${article.enable}" id="enable">
        <select class="form-control" name="enable">
            <option value="" ${(article.enable !="1" && article.enable !="0")?"selected='selected'":""} >全部</option>
            <option value="1" ${article.enable =="1"?"selected='selected'":""}>是</option>
            <option value="0" ${article.enable =="0"?"selected='selected'":""}>否</option>
        </select>

    </div>
    <button type="submit" class="btn btn-default" style="margin-left: 70px;">查   找</button>

    <a href="/article/index"><button  type="button"  class="btn btn-primary" style="float: right;">+ 新建文章</button></a>


</form>
    <div class="table_div">
        <table class="table table-hover">
            <tr class="title_th">
                <th class="article_id">文章id</th>
                <th class="article_content">文章名称</th>
                <th class="count">阅读量</th>
                <th class="clasify">所属分类</th>
                <th class="tag">标签</th>
                <th>是否显示</th>
                <th class="update_time">更新时间</th>
                <th class="operation">操作</th>
            </tr>

            @for(article in pageInfo.list){
            <tr>
                <td>${article.articleId}</td>
                <td>${article.articleName}</td>
                <td>${article.readCount}</td>
                <td>${article.cataName}</td>
                <td>${article.tagName}</td>
                <td>${article.enable == "1"?"是":"否"}</td>
                <td>${article.updateTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
                <td>
                    <a href="/initArticleUpdate?articleId=${article.articleId}">编辑</a>
                    <a href="/article?articleId=${article.articleId}" target="_Blank">编辑正文</a>
                    <a href="#">删除</a>
                </td>
            </tr>
            @}



        </table>

        <!-- 分页导航 -->
        <nav >
            <ul class="pagination" style=" margin-left: 250px;margin-top: 40px;">
                <li><a href="/index?pageNum=1&enable=${article.enable}&cataName=${article.cataName}&articleName=${article.articleName}">首页</a></li>
                @if(pageInfo.pageNum<=1){
                <li><a href="#">上一页</a></li>
                @}
                @if(pageInfo.pageNum>1){
                <li><a href="/index?pageNum=${pageNum -1}&enable=${article.enable}&cataName=${article.cataName}&articleName=${article.articleName}">上一页</a></li>
                @}


                @for(item in pageInfo.navigatepageNums){
                @if(item == pageInfo.pageNum){
                <li class="active"><a href="javascript:void(0)">${item}</a></li>
                @}
                @if(item != pageInfo.pageNum){
                <li ><a href="/index?pageNum=${item}&enable=${article.enable}&cataName=${article.cataName}&articleName=${article.articleName}">${item}</a></li>
                @}
                @}

                @if(pageInfo.pageNum< pageInfo.pages){
                <li><a href="/index?pageNum=${pageNum +1}&enable=${article.enable}&cataName=${article.cataName}&articleName=${article.articleName}">下一页</a></li>
                @}

                @if(pageInfo.pageNum == pageInfo.pages){
                <li><a href="javascript:void(0)">下一页</a></li>
                @}

                @if(pageInfo.pageNum<= pageInfo.pages){
                <li><a href="/index?pageNum=${pageInfo.pages}&enable=${article.enable}&cataName=${article.cataName}&articleName=${article.articleName}">末页</a></li>
                @}
            </ul>

        </nav>


    </div>


@};

@include("layout.html",{"headCss":headCss,"bodyPart":bodyPart,"cssImport":"<link rel='stylesheet' href='../bootstrap/css/bootstrap.min.css' /> ","alertPart":"","javaScript":"","tagName":0,title:"后台首页"}){}