@var headCss={

    .new_button{
    width:100%;
    height:82px;
    }
    #new{
    float: right;
    width:184px;
    height:50px;
    }

    .ui{
    padding:0px;
    }
    .title_th{
    height:50px;
    font-size:14px;
    }
    .table_div{
    width:100%
    }
    .table{
    width:100%;
    }
    th
    {
    border:1px solid black;
    }

    .article_id{
    width:80px;
    }
    .article_content{
    width:200px;
    }
    .count{
    width:100px;
    }
    .clasify{
    width:180px;
    }
    .tag{
    width:140px;
    }
    .show{
    width:80px;
    }
    .update_time{
    width:160px;
    }
    .operation{
    width:160px;
    }
    th{
    height:50px
    }
    table {
    border-collapse: collapse;
    }
    td{
    border:1px solid black;
    text-align:center;
    }

    #HBox{
    display: none;
    }
    #HCloseBtn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 3px;
    }

    .list li strong {
    width: 20%;
    float: left;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    }
    .list li {
    width: 80%;
    margin: 10px auto auto;
    overflow: hidden;
    }
    .list {
    padding: 25px 0;
    }
    strong{
    strong
    }
    #HBox1{
    display: none;
    }
    #HBox2{
    display: none;
    }
    .repeat{
    color:red;


    }
    #repeat_div{
    margin-top: 50px;
    margin-left: 48px;
    }
    #commit_div{
    font-size:20px;
    padding-top: 40px;
    padding-left: 143px;
    }

@};

@var bodyPart={

<div class="new_button">
    <button id="new">+ 新建标签</button>

</div>
<div class="table_div">
    <table class="table">
        <tr class="title_th">
            <th class="article_id">标签id</th>
            <th class="article_content">标签名称</th>
            <th class="count">排序</th>
            <th class="clasify">是否显示</th>
            <th class="tag">标签下文章数量</th>
            <th class="operation">操作</th>
        </tr>
        <tr>
            <td>标签id</td>
            <td>标签名称</td>
            <td>排序</td>
            <td>是否显示</td>
            <td>12</td>
            <td>
                <a href="/article/index">编辑</a>
                <a href="#">删除</a>

            </td>
        </tr>




    </table>


</div>




@};


@var alertPart={

<div id="HBox" class="animated">
    <div id="HTitle" style="padding:10px 45px 10px 12px;border-bottom:1px solid #ddd;background-color:#f2f2f2;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        新建/编辑标签
    </div>
    <form action="" method="post" onsubmit="return false;">
        <ul class="list">
            <li>
                <strong>标签id</strong>
                <div class="fl"><input type="text" name="nickname" value="" class="ipt nickname"></div>
            </li>
            <li>
                <strong>标签名称</strong>
                <div class="fl"><input type="text" name="phone" value="" class="ipt phone"></div>
            </li>
            <li>
                <strong>排序</strong>
                <div class="fl"><input type="text" name="email" value="" class="ipt email"></div>
            </li>
            <li>
                <strong>是否显示</strong>
                <div class="fl">
                    <label class="mr10"><input type="radio" name="sex" value="1">男</label>
                    <label class="mr10"><input type="radio" name="sex" value="2">女</label>
                </div>
            </li>
            <li><input type="submit" value="取消" ></li>
            <li><input type="submit" value="保存" class="submitBtn"></li>
        </ul>
    </form>
    <a id="HCloseBtn" title="关闭" style="background-color:#ccc;"><span>×</span></a>
</div>
<div id="HBox2" >
    <div id="repeat_div">
        <span class="repeat">标签名称重复，请尝试新的标签名称</span>
    </div>
    <div id="commit_div">
        <button class="commit" >确定</button>
    </div>

</div>
<div id="HBox3" >
    <div id="repeat_div">
        <span class="repeat">标签不能删除，建议做不显示处理</span>
    </div>
    <div id="commit_div">
        <button class="commit" onclick="close()" >确定</button>
    </div>

</div>
@};

@var cssImport={
<link rel="stylesheet" href="../css/animate.min.css">
@};


@var javaScript={
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/jquery.hDialog.js"></script>
<script type="text/javascript">
    $(function(){
        //新建编辑弹框
        //$('#new').hDialog({'box':'#HBox',title:'新建/编辑标签',height:350,width:350});
        //$('#new').hDialog({'box':'#HBox2',title:'提示',height:350,width:350});
        $('#new').hDialog({'box':'#HBox3',title:'提示',height:350,width:350});




    });


    function close()
    {
        //
        alert("niho");
    }

    $('body').on('click' , '.commit' , function() {
        $('#HCloseBtn').click();
    })





</script>

@};

@include("layout.html",{"headCss":headCss,"bodyPart":bodyPart,"cssImport":cssImport,"alertPart":alertPart,"javaScript":javaScript,title:"分类首页"}){}
